@import "tailwindcss";

@theme {
  /* All Default Colors  */
  --color-beige-500: #98908b;
  --color-beige-100: #e8e8e8;
  --color-grey-900: #201f24;
  --color-grey-500: #696868;
  --color-grey-300: #b3b3b3;
  --color-grey-100: #f2f2f2;
  --color-s-green: #277c78;
  --color-s-yellow: #f2cdac;
  --color-s-cyan: #82c9d7;
  --color-s-navy: #626070;
  --color-s-red: #c94736;
  --color-s-purple: #826cb0;
  --color-o-purple: #af81ba;
  --color-o-turquoise: #597c7c;
  --color-o-brown: #93674f;
  --color-o-magenta: #934f6f;
  --color-o-blue: #3f82b2;
  --color-o-navy-grey: #97a0ac;
  --color-o-army-green: #7f9161;
  --color-o-gold: #cab361;
  --color-o-orange: #be6c49;
  --color-white: #ffffff;
  /* Line Height */
  --leading-120: 120%;
  --leading-150: 150%;
  /* Spacing and sizing utilities like px-4, max-h-16, and many more */
  --spacing-500: 40px;
  --spacing-400: 32px;
  --spacing-300: 24px;
  --spacing-250: 20px;
  --spacing-200: 16px;
  --spacing-150: 12px;
  --spacing-100: 8px;
  --spacing-50: 4px;
}
@theme inline {
  --font-sans: var(--font-public-sans), sans-serif;
}

@layer base {
  /* Global Style for headings */
  body {
    @apply font-sans text-grey-900;
  }
  h1 {
    @apply text-[32px] leading-120 font-bold;
  }
  h2 {
    @apply text-xl leading-120 font-bold;
  }
  h3 {
    @apply text-base leading-150 font-bold;
  }
  p.four {
    @apply text-sm leading-150 font-normal;
  }
  p.four.bold {
    @apply text-sm leading-150 font-bold;
  }
  p.five {
    @apply text-xs leading-150 font-normal;
  }
  p.five.bold {
    @apply text-xs leading-150 font-bold;
  }
}
@utility no-ring {
  @apply outline-none ring-0 ring-offset-0 focus:ring-0 focus:ring-offset-0 focus-visible:ring-offset-0;
}
@utility input-ring {
  @apply h-8 rounded-none border-none  bg-transparent outline-none ring-offset-0 focus:ring-1  focus:ring-beige-500 focus:ring-offset-0 focus-visible:ring-offset-0;
}
@utility flex-center {
  @apply flex items-center justify-center;
}
@utility flex-row-between {
  @apply flex flex-row items-center justify-between;
}
@utility transition-300 {
  @apply transition-all duration-300 ease-in-out;
}
@utility drop-shadow {
  box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.25);
}
@layer components {
  input[type="number"]::-webkit-outer-spin-button,
  input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0; /* optional */
  }

  /* Firefox */
  input[type="number"] {
    -moz-appearance: textfield;
    appearance: textfield; /* modern fallback */
  }
  /* Forms and Inputs Styles */
  label.label-input {
    @apply text-xs font-bold leading-150 text-grey-500;
  }
  .input-basic {
    @apply w-full px-5 py-3 rounded-lg bg-white border border-beige-500
    text-sm leading-150 font-normal text-grey-900 placeholder:text-beige-500
     has-focus-within:border-grey-900 has-focus:bg-grey-100;
  }
  .input-basic input {
    @apply no-ring w-full h-full bg-transparent outline-none;
  }
  .input-hint {
    @apply text-xs leading-150  text-grey-500 w-full text-right;
  }
  .input-hint.error {
    @apply text-s-red font-bold;
  }

  /* Button Styles */
  .btn {
    @apply inline-flex items-center justify-center rounded-lg p-4  duration-300 ease-in-out transition-all cursor-pointer transform  text-sm font-bold leading-150 hover:shadow-md shadow-black/25;
    /* hover:scale-105 focus:scale-100 active:scale-100 no-ring */
  }

  .btn-primary {
    @apply bg-grey-900 text-white  hover:bg-grey-500;
  }
  .btn-secondary {
    @apply border border-transparent bg-beige-100 hover:bg-white hover:border-beige-500;
  }
  .btn-destroy {
    @apply bg-s-red text-white hover:bg-s-red/80;
  }
  .btn-tertiary {
    @apply text-grey-300 hover:text-grey-900 inline-flex items-center
    gap-3 text-sm font-bold leading-150;
  }

  /* Side Bar Menu */
  .side-bar-item {
    @apply px-8 py-4 bg-transparent inline-flex items-center gap-4 rounded-r-2xl text-grey-500 text-base leading-150 font-bold hover:text-grey-100  hover:backdrop-blur-md duration-300 ease-in-out transition-all cursor-pointer min-w-[276px];
  }
  .side-bar-item[data-selected="true"] {
    @apply bg-beige-100 text-grey-900 border-l-4 border-s-green
      transition-all duration-300 ease-in-out;
  }
}

/* ==== kEYFRAMERS ===== */
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes modal-in-fade-scale {
  0% {
    opacity: 0;
    transform: translateY(-50px) scale(0.96);
    filter: blur(2px);
  }
  100% {
    opacity: 1;
    transform: translateY(0) scale(1);
    filter: blur(0);
  }
}
@keyframes modal-out-fade-scale {
  0% {
    opacity: 1;
    transform: translateY(0) scale(1);
    filter: blur(0);
  }
  100% {
    opacity: 0;
    transform: translateY(50px) scale(0.96);
    filter: blur(2px);
  }
}
@keyframes dropdown-in-slide {
  0% {
    opacity: 0;
    max-height: 0;
    transform: translateY(-4px);
  }
  100% {
    opacity: 1;
    max-height: 400px;
    transform: translateY(0);
  }
}
@keyframes dropdown-out-slide {
  0% {
    opacity: 1;
    max-height: 400px;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    max-height: 0;
    transform: translateY(-4px);
  }
}

@utility animate-fade-in {
  animation: fade-in 0.3s ease-in-out forwards;
}
@utility animate-fade-out {
  animation: fade-out 0.3s ease-in-out forwards;
}
@utility animate-modal-in {
  animation: modal-in-fade-scale 0.5s ease-in-out forwards;
}
@utility animate-modal-out {
  animation: modal-out-fade-scale 0.5s ease-in-out forwards;
}
@utility animate-dropdown-in {
  animation: dropdown-in-slide 0.5s ease-in-out forwards;
}
@utility animate-dropdown-out {
  animation: dropdown-out-slide 0.5s ease-in-out forwards;
}
